@import "https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
@import 'css/variables.css';

@import 'css/utilities/default.css';
@import 'css/utilities/typography.css';
@import 'css/utilities/colors.css';
@import 'css/utilities/spacing.css';
@import 'css/utilities/filters.css';
@import 'css/utilities/borders.css';
@import 'css/utilities/boxmodel.css';

@import 'css/components/button.css';
@import 'css/components/fields.css';
@import 'css/components/search.css';
@import 'css/components/sidepanel.css';
@import 'css/components/wizard.css';



html {
    overflow: auto;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

main {
    display: flex;
    flex-direction: row;
}

/* nav */
#nav {
    width: 100%;
}

/* header */

.header {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    padding: 16px 32px;
    border-bottom: 1px solid var(--grey-300);
}

/*  header label */

.nav-lebel {
    padding: 16px 32px;
    border-bottom: 1px solid var(--grey-300);
}

/* notifications */
#notifications {
    font-size: 14px;
    font-weight: 600;
}

/* profile */
#profile {
    font-size: 14px;
    font-weight: 600;
}

/* content-box */

#content-box {
    box-sizing: border-box;
    display: flex;
    padding: 24px 32px;
    background-color: var(--grey-300);
}

/* content */

#content {
    display: flex;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(--grey-300);
    box-shadow: 0px 4px 12px 0px rgba(15, 23, 42, 0.04);
    background: var(--white);
}


.personal-info,
.password {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1;
    border-radius: 16px;
    border: 1px solid var(--grey-300);
    background: var(--white);
    box-shadow: 0px 4px 24px 0px rgba(15, 23, 42, 0.06);
    height: fit-content;
}